<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <div class="panel panel-default">
      <div class="panel-body homepanel">
        <h3 class="paneltitle">About NearSpacePi</h3>
        <p>NearSpacePi is a joint project by <a href="https://twitter.com/ccnppro">Mike Rickert</a> and <a href='mailto: quantumchaos87@gmail.com'>Asa Sallee</a> to fly a raspberry pi above 60,000ft while streaming live telemetry/video from the in-air device.</p>
      </div>
    </div>
  </div>
</div>