<h1 align="center">Streaming live from a Raspberry pi weather balloon</h1>

<div class="row">
  <div class="col-sm-4">
    <div class="panel panel-default nobgcolor">
      <div class="panel-body homepanel">
        <h3 class="paneltitle">Stats/readings</h3>
        <ul class="list-group">
          <li class="list-group-item">Last updated: </li>
          <li class="list-group-item">Internal Temp: </li>
          <li class="list-group-item">Humidity: </li>
          <li class="list-group-item">External Temp: </li>
          <li class="list-group-item">Barometer: </li>
          <li class="list-group-item">Gyro: </li>
          <li class="list-group-item">GPS: </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="panel panel-default nobgcolor">
      <div class="panel-body homepanel">
        <h3 class="paneltitle">Live feed</h3>
      </div>
    </div>
  </div>
</div>