<div class="row">
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-body homepanel">
        <h3 class="paneltitle">Stats/readings</h3>
        <ul class="list-group">
          <li class="list-group-item">Last updated: </li>
          <li class="list-group-item">Internal Temp: </li>
          <li class="list-group-item">Humidity: </li>
          <li class="list-group-item">External Temp: </li>
          <li class="list-group-item">Barometer: </li>
          <li class="list-group-item">Gyro: </li>
          <li class="list-group-item">GPS: </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="panel panel-default">
      <div class="panel-body homepanel">
        <h3 class="paneltitle">Live feed</h3>
        <p>Most recent image: <%= time_ago_in_words(@latestimage.first) %> ago</p>
        <%= image_tag custom_image_path(@latestimage.second), style: 'max-width: 300px; max-height: 300px;' %>
      </div>
    </div>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <div class="panel panel-default">
      <div class="panel-body homepanel">
        <h3 class="paneltitle">Known GPS coords</h3>
        <div id="map" style='width: 800px; height: 400px;'></div>
      </div>
    </div>
  </div>
</div>
<script>
  <%= render partial: 'map.js.erb' %>
</script>