<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <div class="panel panel-default">
      <div class="panel-body homepanel">
        <h3 class="paneltitle">Raw JSON data</h3>
        <p>JSON GOES HERE</p>
        <p>test.txt last updated <%= time_ago_in_words(@testfiletime) %> ago</p>
        <p>test.txt reading:  <b style="color: red"><%= @testfiledata %></b></p>
        <p>telemetry last updated <%= time_ago_in_words(@telemetrytime) %> ago</p>
        <p>latest telemetry reading: <b style="color: blue"><%= @telemetrydata %></b></p>
      </div>
    </div>
  </div>
</div>
