<h1 align="center" class="mainheading">Stream of telemetry data in JSON</h1>

<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <div class="panel panel-default">
      <div class="panel-body homepanel">
        <h3 class="paneltitle">Raw JSON data</h3>
        <p>JSON GOES HERE</p>
        <p>last line of test.txt is:  <b style="color: red"><%= @lastline %></b></p>
      </div>
    </div>
  </div>
</div>
