<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-body homepanel" style="width: 100%;">
        <h3 class="paneltitle">Known GPS coords</h3>
        <div id="map" style="width: 100%; height: 100%;"></div>
      </div>
    </div>
  </div>
</div>
<script>
  <%= render partial: 'home/map.js.erb' %>
</script>