<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
    	<%= link_to root_url, class: "navbar-brand" do %>
        <i>NearSpace</i><b>Pi</b>
    	<% end %>
      </div>
    </div>
</nav>
